<app-nav-bar></app-nav-bar>
<div class="container mt-4">    
    <!--
        Desabilitamos aqui tb, pq não é mais necessária
        a sua utilização, visto que esse componente será chamado
        via URL

        <app-course-list></app-course-list>
    -->

    <!--
        Essa tag aplica o redirecionamento dos componentes.
        Sem ele, o componente course-list.component.html
        não é executado!!!!
        Switch de componentes de rotas
    -->
    <router-outlet></router-outlet>
</div>
